.contact {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 95%;
    margin-top: 50px;
    margin-left: 2.5%;
    background: var(--contactUs--bg--color);
    color: var(--contactUs-text--color);
    border-radius: 36px;
    overflow: hidden;
    flex-wrap: wrap;
}

.contact__form-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 88px;
    width: 50%;
    box-sizing: border-box;
}

.contact__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 10%;
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    width: 100%;
}

.contact__input,
.contact__input-row input {
    width: 90%;
    padding: 16px 24px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: inherit;
}

.contact__input-row {
    display: flex;
    gap: 10px;
    width: 90%;
}

.contact__input-row input {
    flex: 1;
}

.contact__textarea {
    width: 90%;
    padding: 16px 24px;
    border-radius: 20px;
    font-size: 16px;
    resize: vertical;
    min-height: 137px;
    border: none;
    font-family: inherit;
    box-sizing: border-box;
}

.contact__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10%;
    margin-left: 5%;
    align-self: flex-start;
    padding: 12px 16px;
    background: none;
    border: 1px dashed var(--contactUs-button--bg--color);
    color: var(--contactUs-button--bg--color);
    border-radius: 40px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: background 0.3s;
    font-family: Unbounded;
}
.contact__button img{
    width: 15px;
    height: 14px;
}
.contact__button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.contact__image-block {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    box-sizing: border-box;
}

.contact__image {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}
@media (max-width: 1600px) {
    .contact__title {
        font-size: 38px;
    }
}
