.about-us__icons {
    position: relative;
    overflow: clip;
    width: 32%;
    height: 528px;
    background: #1E1F26;
    border-radius: 36px;
}

.about-us__icons img {
    position: absolute;
    width: 150%;
    top: 20px;
    left: 20px;
    height: auto;
    min-height: 528px;
}