.services-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
    width: 95%;
    margin-left: 2.5%;
    color: var(--services-text--color);

}

.services-section__cards {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.services-section__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 36px;
    padding: 32px 0 32px 0;
    position: relative;
    isolation: isolate;
    width: 25%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
}

.services-section__arrow-button {
    width: 30px;
    margin-left:75% ;
    height: 30px;
    border: none;
    background-color: transparent;
}
.services-section__arrow-button-inv{
    width: 60px;
    height: 60px;
    margin-left:68% ;
    position: relative;
    top: -10px;
    border: none;
    background-color: transparent;
    object-fit: cover;
    object-position: center;
}
.services-section__arrow-button-inv img{
    width: 60px;
    height: 60px;
}
.services-section__arrow-button img {
    width: 45px;
    height: 45px;
}

.services-section__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    z-index: 1;
    max-width: calc(100% - 48px);
}

.services-section__name {
    font-size: 32px;
    font-weight: 400;
    width: 85%;
    line-height: 1.25;
    margin: 0;
}
@media screen and (max-width: 1500px) {
    .services-section__name{
        font-size: 26px;

    }
}
.services-section__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}

.services-section__action-button {
    background: var(--services-text--color);
    border-radius: 50px;
    padding: 10px 20px;
    font-family: 'Unbounded';
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    color: var(--main--text--color);
    border: none;
    cursor: pointer;
}

.services-section__action-button img {
    width: 19px;
    height: 19px;
}
