.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: 2.5%;
}
.footer__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}
.footer__socials{
    margin-top: 46px;

    column-count: 2;
    column-gap: 46px;
}
.footer__social-icon{
    margin-bottom: 46px;
}